/* BEGIN (write your solution here) */
:root {
  --primary: #F7DF1E;
  --white: #fff;
  --dark: #0b1d26; 
}

@font-face {
  font-family: "Brygada-1918";
  src: url(../assets/fonts/Brygada-1918.ttf);
}

@font-face {
  font-family: OpenSans;
  font-weight: 400;
  src: url(../assets/fonts/OpenSans-Regular.ttf);
}
@font-face {
  font-family: OpenSans;
  font-weight: 700;
  src: url(../assets/fonts/OpenSans-Bold.ttf);
}
* {
  box-sizing: border-box;
}


body {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;

  color: var(--white);
  font-family: OpenSans, sans-serif;
  line-height: 2.3;

  background-color: var(--dark);
}

.container {
  width: 1280px;
  padding: 100px 0;
}

.col-2 {
  display: flex;
}

.left {
  display: flex;
  flex-direction: column;

  padding: 0 30px;

  width: 640px;
  height: 713px;
  justify-content: center;
}

.divider {
  position: relative;

  margin-bottom: 40px;

  width: 70px;
  height: 2px;

  background-color: var(--primary);
}

.divider::after {
  content: "Профессия";

  position: absolute;
  left: 100px;
  top: 50%;
  transform: translateY(-50%);

  color: var(--primary);
  font-family: OpenSans, sans-serif;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.3em;
  text-transform: uppercase;
}

.number {
  position: relative;
  top: -30px;
  left: -100px;

  font-weight: 700;
  font-size: 200px;
  line-height: 0;
  letter-spacing: 4.2px;
  text-transform: uppercase;

  opacity: 0.1;
}

.title {
  margin-bottom: 65px;

  font-weight: 400;
  font-size: 64px;
  font-family: "Brygada-1918", serif;
  line-height: 1.1;
}

.text {
  margin-bottom: 20px;

  font-weight: 400;
  font-size: 16px;
  line-height: 2.3;
}

.read-more {
  color: var(--primary);
  font-weight: 400;
  font-size: 17px;
  line-height: 0;
  text-decoration: none;
}

.text-right {
  padding: 0 30px;

  width: 640px;
  height: 713px;

  text-align: right;
}
/* END */
